body {
  background-image: url("../../files/bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
  color: #f3f3f3;
}

.hidden {
  display: none;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10%;
  z-index: -1;
}

* {
  text-decoration: none;
}

.orange-link {
  color: #ffa500;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #747474;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  z-index: 2;
  color: #f3f3f3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  background-color: #272727;
  z-index: 1;
  border: #272727 5px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px #000;
}

.player-container {
  min-height: 360px;
  max-height: 360px;
  min-width: 640px;
  max-width: 640px;
  justify-content: center;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: row;
  align-items: flex-start;
}

.grid-item {
  padding: 20px;
  flex: 1;
}

@media (max-width: 1370px) {
  .queue-container {
    min-width: 640px !important;
    max-width: 640px !important;
  }
}

.player {
  position: absolute;
}

.queue-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  z-index: 1;

  min-height: 360px;
  max-height: 360px;
  min-width: 320px;
  max-width: 320px;
}

.queue-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 100%;
  overflow-y: auto;
}

.queue-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 10px;
  background-color: #272727;
  width: 90%;
}

.queue-item:hover {
  background-color: #363636;
}

.queue-item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 10px;
  width: 100%;
}

.queue-item-details > span > a {
  text-decoration: none;
  color: #f3f3f3;
}

.queue-item-details > span > a:hover {
  color: #ffa500;
}

.queue-item-details > span {
  color: #c5c5c5;
}

.queue-item img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.queue-item p {
  margin: 0;
  padding: 0;
}

.thumbnail {
  width: 80px !important;
  height: 45px !important;
  border-radius: 5px;
}
